##########################################
##       PostPone htaccess file         ##
## ------------------------------------ ##
## Developed by SkyIrc development team ##
## Copyright (c) SkyIrc                 ##
## Licensed under GNU GPL 3             ##
##########################################

# Avtivate mod_rewrite
Options +FollowSymlinks
RewriteEngine on

# Rewrite $_GET, too
RewriteCond %{REQUEST_FILENAME} !-f

# Page given
# Pagename => $_GET['page']
RewriteRule ^([-a-zA-Z0-9]+)/$ index.php?page=$1
RewriteRule ^([-a-zA-Z0-9]+)$ index.php?page=$1&%{QUERY_STRING}

# Page and Subpage / Argument given
# subpage / argument => $_GET['1']
RewriteRule ^([-a-zA-Z0-9]+)/([-a-zA-Z0-9]+)/$ index.php?page=$1&1=$2
RewriteRule ^([-a-zA-Z0-9]+)/([-a-zA-Z0-9]+)$ index.php?page=$1&1=$2&%{QUERY_STRING}